body {
    font-family: 'Poiret One', cursive;
    margin: 0 auto;
    
}

body._lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
}

.header {
    position: fixed;
    top:0;
    left:0;
    height: 76px;
    width: 100%;
    background-color:#000000;
    z-index: 10;

}

.header__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    min-height: 70px;
}

.header__logo {
  position: relative;
  
   
}

.header__menu-nav {

}

.header__nav-title {
    margin: 0px 0px 0px 20px;
}

.header__menu-button {
    display: none;
}
/*________________________*/



/*________________________*/

/*Response*/

@media(min-width: 767px) {
    .header__nav-list{
    display: flex;
    align-items: center;

    }
    .header__nav-title{
        padding: 10px 0;
    }
}

@media(max-width: 767px) {

.header__menu-button {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.header__menu-button span,
.header__menu-button::before,
.header__menu-button::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #f3d31e;

}

.header__menu-button::before,
.header__menu-button::after{
    content: '';
}

.header__menu-button::before{
top: 0;
}

.header__menu-button::after{
bottom: 0;
}

.header__menu-button span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.header__menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #201d1d;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    
}

.header__menu-nav._active {
    left: 0;
}
.header__menu-nav::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;

}

.header__nav-title {
    margin: 0px 0px 30px 0px;
}
}

/*________________________*/

.header__nav-list {
    list-style-type: none;
}

.header__nav-title {
    position: relative;
    margin: 0 0 0 20px;
}

.header__nav-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #f3d31e;
    display: block;
    
}

.header__nav-link:hover {
text-decoration: underline;

}
